<div fxLayout="row" fxLayoutAlign="Center stretch" fxFill style="background-color: orange;">
    <!-- <div fxLayout="column" fxFlex="100" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="95" fxFlex.lg="70" fxFlex.xl="60"
        style="background-color:peru">
        <p>column</p>
    </div> -->
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="40%" style="background-color:plum">
        <mat-card>
            <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                <h2>{{'Get Started With Pluto'}}</h2>
                <!-- <p>The most powerful angular app</p> -->
            </div>
            <form autocomplete="off" [formGroup]="loginForm" fxLayoutAlign="center stretch">
                <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70"
                    fxLayoutAlign="start">
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="User Name" formControlName="name">
                        <mat-icon matSuffix>verified_use</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <div class="mrgn-b-md">
                        <mat-checkbox class="remember-me" formControlName="rememberMe">{{'Remember Me'}}
                        </mat-checkbox>
                    </div>
                    <div fxLayoutAlign="space-around center" class=" mrgn-b-lg">
                        <button mat-flat-button class="success-bg gene-btn-lg" (click)="login()"
                            [disabled]="!loginForm.valid">{{'Login'}}</button>
                    </div>
                </div>
            </form>
        </mat-card>

    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="60%" style="background-color:powderblue">
        <div class="col-md-8 slider-image" style="padding-right: 0px;padding-left: 0px;">
            <div id="carouselExampleSlidesOnly" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img class="d-block w-100 h-100" src="assets/images/login-Images/Business.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item h-100">
                        <img class="d-block w-100 h-100" src="assets/images/login-Images/Learn_Build_Lead.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item h-100">
                        <img class="d-block w-100 h-100" src="assets/images/login-Images/learn_with_notebook.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item h-100">
                        <img class="d-block w-100 h-100" src="assets/images/login-Images/Meeting_Lamp.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item h-100">
                        <img class="d-block w-100 h-100" src="assets/images/login-Images/Never_Stop_Learn.jpg"
                            alt="First slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>